
<div class="<%="book_banner_color_stripe "+ book_banner_color_tag %>"></div>
<div id="span_left"></div>
<div id="span_right">
  <div id="email_contact">
    <%=image_tag('email_contact.jpg') %>
  </div>
  <%= render(:partial => "/refinery/menu", :locals => {:dom_id => 'menu',:css => 'menu'}) %>
</div>

<div id="span_center">
  <div id="book_banner_graphic">
    <%= image_tag(book_banner_graphic) %>
  </div>
  <div id="book_banner_image">
      <%= image_tag(book_banner_image) %>
    </div>

  <div id="kpb_logo">
    <%= link_to image_tag('kpb_logo.jpg'), refinery.root_path %>
  </div>

  <div id="content">

  <%= render_content_page(@page, {
          :hide_sections => local_assigns[:hide_sections],
          :can_use_fallback => !local_assigns[:show_empty_sections] && !local_assigns[:remove_automatic_sections]
        }) %>
  </div>

</div>
