<div class="container">
<div id="teotb_color_stripe"></div>
<div id="tom_color_stripe"></div>

<div id="ttc_color_stripe"></div>

<div id="front_span_left"></div>

<div id="front_span_right">
  <div id="email_contact">
     email@futuretruth.net
  </div>
  <div id="front_teotb_right_text">
     Lorem ipsum dolor sit amet, consectetur
     adipiscing elit. Proin metus dolor
  </div>
  <div id="front_tom_right_text">
     Lorem ipsum dolor sit amet, consectetur
     adipiscing elit. Proin metus dolor
  </div>
  <div id="front_ttc_right_text">
     Lorem ipsum dolor sit amet, consectetur
     adipiscing elit. Proin metus dolor
  </div>
</div>

<div id="front_span_center">
  <div id="front_teotb_banner_graphic">
    <%= link_to image_tag('teotb_graphic.jpg'), @teotb_link %>
  </div>
  <div id="front_teotb_left_text">
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin metus dolor, hendrerit sit amet, aliquet nec, posuere sed, purus. Nullam et velit iaculis odio sagittis placerat. Duis metus tellus, pellentesque ut, luctus id, egestas a, lorem. Praesent vitae mauris. Aliquam sed nulla. Sed id nunc vitae leo suscipit viverra.
  </div>
  <div id="front_teotb_banner_image">
    <%= link_to image_tag('teotb_image.jpg'), @teotb_link  %>
  </div>
  <div id="front_tom_banner_graphic">
    <%= link_to image_tag('tom_graphic.jpg'), @tom_link %>
  </div>
  <div id="front_tom_left_text">
    This is just a standard text page example. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin metus dolor, hendrerit sit amet, aliquet nec, posuere sed, purus. Nullam et velit iaculis odio sagittis placerat. Duis metus tellus, pellentesque ut, luctus id, egestas a, lorem. Praesent vitae mauris. Aliquam sed nulla. Sed id nunc vitae leo suscipit viverra.
  </div>
  <div id="front_tom_banner_image">
    <%= link_to image_tag('tom_image.jpg'), @tom_link %>
  </div>
  <div id="front_ttc_banner_graphic">
    <%= link_to image_tag('ttc_graphic.jpg'), @ttc_link %>
  </div>
  <div id="front_ttc_left_text">
    This is just a standard text page example. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin metus dolor, hendrerit sit amet, aliquet nec, posuere sed, purus. Nullam et velit iaculis odio sagittis placerat. Duis metus tellus, pellentesque ut, luctus id, egestas a, lorem. Praesent vitae mauris. Aliquam sed nulla. Sed id nunc vitae leo suscipit viverra.
  </div>
  <div id="front_ttc_banner_image">
    <%= link_to image_tag('ttc_image.jpg'), @ttc_link %>
  </div>

  <div id="kpb_logo">
    <%= link_to image_tag('kpb_logo.jpg'), refinery.root_path %>
  </div>

</div>
</div>

<%#= link_to image_tag("bookone.png", :border=>0, :width=> '100px', :class => ''), @bookone, :id => 'bookone'  %>
<%#= link_to image_tag("booktwo.png", :border=>0, :width=> '100px', :class => ''), @booktwo, :id => 'booktwo'  %>
<%#= link_to image_tag("bookthree.png", :border=>0, :width=> '100px', :class => ''), @bookthree, :id => 'bookthree'  %>

