<div class="container">
<div id="teotb_color_stripe"></div>
<div id="tom_color_stripe"></div>

<div id="ttc_color_stripe"></div>

<div id="front_span_left"></div>

<div id="front_span_right">
  <div id="email_contact">
    <%=image_tag('email_contact.jpg') %>
  </div>
  <div class="front_right_text_container">
    <div id="front_teotb_right_text">
      3 Volumes<br>
      30 Chapters, 3 Appendices<br>
      900 pages<br>
      Published 2004, updated 2013<br>
      (Formerly entitled <i>Future History</i>)
    </div>
  </div>
  <div class="front_right_text_container">
    <div id="front_tom_right_text">
    2 Volumes<br>
    32 Chapters<br>
    1067 Pages<br>
    Published 2010<br>
  </div>
  </div>
  <div class="front_right_text_container">
    <div id="front_ttc_right_text">
    7 Volumes planned<br>
    (Three completed)<br>
    Currently 74 files<br>
    1275 pages <br>
    Published 2013 <br>
  </div>
  </div>
</div>

<div id="front_span_center">
  <div id="front_teotb_banner_graphic">
    <%= link_to image_tag('teotb_graphic.jpg'), @teotb_link %>
  </div>
  <div id="front_teotb_left_text">
    Everybody wants to know what tomorrow will bring. The information, if only we had it, would shape every decision we made. But the most important issues--the ones that define the course of human history and elicit the choices that affect our eternal destines--have been predicted in the Bible. Many of these prophecies have already been fulfilled--with stunning accuracy. What does that portend for the rest of them?
  </div>
  <div id="front_teotb_banner_image">
    <%= link_to image_tag('teotb_image.jpg'), @teotb_link  %>
  </div>
  <div id="front_tom_banner_graphic">
    <%= link_to image_tag('tom_graphic.jpg'), @tom_link %>
  </div>
  <div id="front_tom_left_text">
    It’s one of the stickiest conundrums in Scripture: are we today supposed to keep the Mosaic Law, or aren’t we? On the one hand, He gave Moses hundreds of specific instructions that govern everything from how to approach Almighty God to what to do if a wall develops a stain that won’t go away. On the other hand, the New Covenant scriptures clearly teach that the Law is powerless to deliver us from the curse of sin. What does Yahweh want us to do?
  </div>
  <div id="front_tom_banner_image">
    <%= link_to image_tag('tom_image.jpg'), @tom_link %>
  </div>
  <div id="front_ttc_banner_graphic">
    <%= link_to image_tag('ttc_graphic.jpg'), @ttc_link %>
  </div>
  <div id="front_ttc_left_text">
    Yahweh declared that He speaks to us in parables, symbols, and metaphors, but the extent to which He does this may surprise us. Although what He tells us in His Word is literally true, the significance of His written message often runs deeper than the overt historical record might indicate to the casual reader. There’s more to this iceberg than what we can see on the surface.
  </div>
  <div id="front_ttc_banner_image">
    <%= link_to image_tag('ttc_image.jpg'), @ttc_link %>
  </div>

  <div id="kpb_logo">
    <%= link_to image_tag('kpb_logo.jpg'), refinery.root_path %>
  </div>

  <div id="books_are_free">
    <%= image_tag('booksarefree.jpg') %>
  </div>

</div>
</div>
